.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
}

.actions {
    display: flex;
    gap: 10px;
}

.insights {
    margin-bottom: 20px;
    background-color: #0001;
    padding: 15px;
    border-radius: 4px;
    overflow: auto;
}

.rolesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.filter {
    margin: 20px 0;
    max-width: 400px;
}

.modal {
    padding: 20px;
}

.container-overview {
    border-radius: 8px;
    padding: 16px;
    background-color: #0001;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease;
}

.container-overview:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.token {
    color: #757575;
    font-size: 14px;
    margin: 4px 0 12px;
}

.headerRow {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: rgb(0 0 0 / 0.1);
    padding: 16px;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 24px;
}

@media (max-width: 1024px) {
    .cardsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .cardsContainer {
        grid-template-columns: 1fr;
    }
}

.permission {
    margin-inline-end: 10px;
    background-color: #7fffd433;
    padding: 4px;
    border-radius: 4px;
}
