VITE_APP_ENV=prod
VITE_API_ENDPOINT_PROD=https://api.example.com
VITE_API_ENDPOINT_PREPROD=https://preprod-api.example.com
VITE_KEYCLOAK_URL=https://auth.example.com
VITE_KEYCLOAK_REALM=myrealm
VITE_KEYCLOAK_CLIENT_ID=myclient
VITE_ACTION_ALLOWED=false
