.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.filtersRow {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.filterGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    color: var(--g-color-text-secondary);
}
